# Ignore all files in the data directory
/data/*
# But do not ignore the directory itself
!/data/
# Optionally, do not ignore README or other documentation
!/data/README.md

.vscode/

.env

**.pyc

notebooks/results_combined*