# But do not ignore the directory itself
!/data/
# Optionally, do not ignore README or other documentation
!/data/README.md

.vscode/

.env

**.pyc

notebooks/results_combined*

# Ignore directories inside the notebooks directory
# but do not ignore the directory itself nor the files
!/notebooks/
notebooks/*/